  <div class="cards-home">
    <div class="card card-home">
      <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/en/3/34/Cars_2006.jpg"), cars_path %>
      <h2 class="card-home-text" style="color:white;">Cars</h2>
       <div class="card-body">
        <h3 class="card-title">something</h3>
        <p class=card-text>this is some text about what is there</p>
      </div>
    </div>
    <div class="card card-home">
      <%= link_to image_tag("https://t3.ftcdn.net/jpg/01/33/36/88/360_F_133368805_fk5Zro40oF3xrcdfQRNfNrNlL0HnUJiz.jpg"), favourites_path %>
      <h2 class="card-home-text">Favourites</h2>
      <div class="card-body">
        <h3 class="card-title">something</h3>
        <p class="card-text">this is some text about what is there</p>
      </div>
    <div class="card">
  </div>
</div>
</div>
